.resetPassword{
    /* background-color: maroon; */
    color: black;
    height: 45px;
    border-radius: 30px;
    width:292px;
    display: flex;
    padding: -18px -4px;
    margin:15px 61px 13px -6px;
    padding: 18px 4px;

}
body{
    background-image: url(../assets/bbb.jpg);
    height: 28%;
    left: 85%;
    border: 3px solid;
    text-align: left;
    border-radius: 37px;
    padding: 42px 81px;
    margin-right: 140px;
    margin: 109px 320px 17px 350px;
} 
.Button{
  
    padding:2px 84px;
    font-size: 15px;
    border-radius: 20px;  
    border-radius: 29px;
    margin-left: 17px;
}
button{
    background-color:cornsilk;
    padding: 11px 21px;
    font-size: 16px;
    border-radius: 20px;
    margin: 17px -1px 0px 39px;
   
}
input{
    padding: 10px 5px;
    border-radius: 3px;
    
}