<html>

<head>
    <link rel="stylesheet" href="../css/forgetPassword.css" type="text/css">

    <title>forgetpassword</title>
</head>

<body>
    <div class="forgetPassword">
        <label for="email"><b>Email</b></label>
        <input type="email" class="from-control" style="text-align: left" placeholder="email-id" required>
    </div><br>
    <div passwordBtn>
        <!-- <button type="button" ng-click="forgetPassword()">Done</button> -->
        <button type="button" ui-sref="resetPassword">Done</button>

    </div>
    </form>
</body>

</html>