 <html>

    <head>
        <link rel="stylesheet" href="../css/resetPassword.css" type="text/css">

        <title>resetpassword</title>
    </head>

    <body>
        <div class="resetPassword">
            <label for="new password"><b>new password</b></label>
            <input type="password" id="newpassword" style="text-align: left" ng-model="newpassword" placeholder="new password"
                required>
            <label for="confirm password"><b>confirm password</b></label>
            <input type="password" id="confirmpassword" style="text-align: left" ng-model="confirmpassword" placeholder="confirm new password"
                required>
        </div>
        <div class="Button">
            <!-- <button type="button">Submit</button> -->
            <button type="button" ui-sref="login">Submit</button>
        </div>
        </form>
    </body>

    </html>